*{
    background: #E5E5E5;
    font-family: 'Roboto Condensed', sans-serif;
}

main{
    display: flex;
}

.logo{
    padding: 2% 0 0 2%;
    margin-bottom: 20px;
    height: 48px;
    width: 31.085588455200195px;
}
/* CSS conpartido entre los dos texareas */
.text-area{
    margin: 50px 0 20px 100px;
    font-family: 'Roboto Condensed', sans-serif;    
    background-color: #E5E5E5;
    outline: none;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: #0A3871;
    margin-right:300px;
    
}

::placeholder{
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A3871;
    font-weight: bold;
       
}

.informacion{
    font-size: 1.25em;
    margin:  0 0 0 100px;
}

/* Css de los botones ya que solo son 3 y son iguales */
.boton-encriptar{
    margin-left: 125px;
}

.boton-desencriptar{
    margin-left: 35px;
}

.boton-copiar{
    margin-left: 100px;
}

.boton-desencriptar, .boton-encriptar, .boton-copiar{
    padding: 15px 70px;
    border-color: #0A3871;
    border-radius: 5px;
    background-color: #0A3871;
    color: #E5E5E5;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.boton-encriptar:hover, .boton-desencriptar:hover ,.boton-copiar:hover{
    background-color: #0A1871;
    border-color: #0A0871;
    transform: scale(1.2);
    transition: 400ms;
    font-size: 1.05em;
}

.mensaje{
    margin: 50px 0 20px 100px;
    font-size: 2em;
    border: none;
    outline: none;
    background: #f3f3f3;
    background-image: url(Imagenes/Muñeco.png);
    background-repeat: no-repeat; 
    border-radius: 15px;
    border-radius: 7px;
    font-weight: bold;
    color: #0A3871;
       
}





    







